CPC/.vs/CPC.Interface/FileContentIndex/2c8add76-4403-45cd-826c-0bbba78fe765.vsidx
CPC/x64/*
CPC/x64/**
CPC/.vs/*
CPC/.vs/**
CPC/Debug/*
CPC/Debug/**
CPC/CPC.Interface/x64/*
CPC/CPC.Interface/x64/**
CPC/CPC.Common/x64/*
CPC/CPC.Common/x64/**
CPC/**/*.user
CPC/CPC.Interface/probe.bin
CPC/CPC.Interface/matrix.bin
